<CascadingAuthenticationState>
    <SignalRWrapper>
        <AuthCascadingWrapper>
            <CascadingBlazoredModal>
                <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
                    <Found Context="routeData">
                        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                            <NotAuthorized>
                                @if (!context.User.Identity.IsAuthenticated)
                                {
                                    <RedirectToLogin />
                                }
                                else
                                {
                                    <p>You are not authorized to access this resource.</p>
                                }
                            </NotAuthorized>
                        </AuthorizeRouteView>
                    </Found>
                    <NotFound>
                        <LayoutView Layout="@typeof(Layout.MainLayout)">
                            <p>Sorry, there's nothing at this address.</p>
                        </LayoutView>
                    </NotFound>
                </Router>
            </CascadingBlazoredModal>  
        </AuthCascadingWrapper>  
    </SignalRWrapper>
</CascadingAuthenticationState>

