@using Microsoft.AspNetCore.Components.Authorization
@using Web.Client
@using Web.Client.BuildingBlocks.Layouts
@using Web.Client.BuildingBlocks.Wrappers
@using Web.Client.BuildingBlocks.Auth.Components

<ExceptionHandlingWrapper>
    <CascadingAuthenticationState>
        <AuthCascadingWrapper>
            <TenantCascadingWrapper>
                    <NotificationWrapper>
                        <CascadingBlazoredModal>
                            <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
                                <Found Context="routeData">
                                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                                        <NotAuthorized>
                                            @if (!context.User.Identity.IsAuthenticated)
                                            {
                                                <RedirectToLogin />
                                            }
                                            else
                                            {
                                                <p>You are not authorized to access this resource.</p>
                                            }
                                        </NotAuthorized>
                                    </AuthorizeRouteView>
                                </Found>
                                <NotFound>
                                    <LayoutView Layout="@typeof(MainLayout)">
                                        <p>Sorry, there's nothing at this address.</p>
                                    </LayoutView>
                                </NotFound>
                            </Router>
                        </CascadingBlazoredModal>  
                    </NotificationWrapper>         
            </TenantCascadingWrapper>    
        </AuthCascadingWrapper>
    </CascadingAuthenticationState>
</ExceptionHandlingWrapper>


