<div class="ManageSubscriptionContainer">
    @foreach(var subscriptionPlan in subscriptionPlans)
    {
        if(subscriptionPlan.PlanType == CurrentSubscription.SubscriptionPlanType)
        {
            <div class="card SubscriptionPlanActive">
                <h5>Your current Subscription</h5>
                <h5>@subscriptionPlan.Name</h5>
                <h5>It is active until: @CurrentSubscription.PeriodEnd.ToLongDateString()</h5>
                <h6>@subscriptionPlan.Description</h6>
            </div>
        }
        else
        {
            <div class="card SubscriptionPlan">
                <h5>@subscriptionPlan.Name</h5>
                <h6>@subscriptionPlan.Description</h6>
                <form method="post" action="@($"/api/stripe/subscribe/{subscriptionPlan.PlanType}")">
                    <AntiForgeryTokenInput/>
                    <button type="submit">Buy Subscription</button>
                </form>
            </div>
        }
    }
</div>


